<template name="main">



    <h1>Scrapping results</h1>

    <p>Click a result to open the meetup page!</p>
    
    {{#if adminMode}}
    <button type="submit" id="reset" class="btn btn-primary">Reset</button>
    {{/if}}

    <table class="table table-striped table-hover">

        <thead>
            <tr>
                {{#each resultFields}}
                <th>{{.}}</th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{#each results}}

                {{>result}}

            {{/each}}
        </tbody>

    </table>

</template>

<template name="result">
    <tr class="{{highlight}}">
        {{#each values}}
            <td>{{.}}</td>
        {{/each}}
    </tr>
</template>