@import "bootstrap/custom.bootstrap.import.less";

.highlight {
    .animation(fadein 0.5s);
}

table >tbody > tr {
    cursor: pointer;
    cursor: hand;
}

@keyframes fadein {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }    
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        -webkit-transform: translateX(300px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
        opacity: 1;
    }   
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        -o-transform: translateX(300px);
        opacity: 0;
    }
    to {
        -o-transform: translateX(0);
        opacity: 1;
    }   
}